# Задание_1. Практические задания SQL
# Для решения использовать тренажер https://www.w3schools.com/sql/trysql.asp?filename=trysql_select_all

1. Выберите заказчиков из Германии, Франции и Мадрида, выведите их название, страну и адрес.

In [ ]:
SELECT CustomerName, Country, Address
FROM Customers
WHERE Country IN ('Germany', 'France') OR (Country = 'Spain' AND City = 'Madrid')
ORDER BY Country;

2. Выберите топ 3 страны по количеству заказчиков, выведите их названия и количество записей.

In [ ]:
SELECT c.Country, COUNT(*) AS Quantity
FROM Customers AS c
GROUP BY c.Country
ORDER BY Quantity DESC
LIMIT 3;

3. Выберите перевозчика, который отправил 10-й по времени заказ, выведите его название, и дату отправления.

In [ ]:
SELECT s.ShipperName, o.OrderDate
FROM (
    SELECT *
    FROM (
        SELECT *
        FROM Orders
        ORDER BY OrderDate ASC
        LIMIT 10
    ) o
    ORDER BY OrderDate DESC
    LIMIT 1
) o
JOIN Shippers s ON o.ShipperID = s.ShipperID;

4. Выберите самый дорогой заказ, выведите список товаров с их ценами.

In [ ]:
SELECT p.ProductName, p.Unit, od.Quantity, p.Price
FROM Orders o
JOIN OrderDetails od ON o.OrderID = od.OrderID
JOIN Products p ON od.ProductID = p.ProductID
WHERE o.OrderID = (
    SELECT OrderID
    FROM OrderDetails
    JOIN Products ON OrderDetails.ProductID = Products.ProductID
    GROUP BY OrderID
    ORDER BY SUM(OrderDetails.Quantity * Products.Price) DESC
    LIMIT 1
);

5. Какой товар больше всего заказывали по количеству единиц товара, выведите его название и количество единиц в каждом из заказов.

In [ ]:
SELECT p.ProductName, od.Quantity, od.OrderID
FROM Products p
JOIN (
    SELECT od.ProductID AS pid
    FROM Orders o
    JOIN OrderDetails od ON o.OrderID = od.OrderID
    GROUP BY od.ProductID
    ORDER BY SUM(od.Quantity) DESC
    LIMIT 1
) h ON p.ProductID = h.pid
JOIN OrderDetails od ON p.ProductID = od.ProductID
ORDER BY od.Quantity DESC;

6. Выведите топ 5 поставщиков по количеству заказов, выведите их названия, страну, контактное лицо и телефон.

In [ ]:
SELECT sup.SupplierName, sup.Country, sup.ContactName, sup.Phone
FROM Suppliers sup
JOIN Products p ON sup.SupplierID = p.SupplierID
JOIN OrderDetails od ON p.ProductID = od.ProductID
JOIN Orders o ON od.OrderID = o.OrderID
GROUP BY sup.SupplierID
ORDER BY COUNT(o.OrderID) DESC
LIMIT 5;

7. Какую категорию товаров заказывали больше всего по стоимости в Бразилии, выведите страну, название категории и сумму.

In [ ]:
SELECT cust.Country, cat.CategoryName, SUM(od.Quantity * p.Price) AS TotalPrice
FROM Orders o
JOIN Customers cust ON o.CustomerID = cust.CustomerID
JOIN OrderDetails od ON o.OrderID = od.OrderID
JOIN Products p ON od.ProductID = p.ProductID
JOIN Categories cat ON p.CategoryID = cat.CategoryID
WHERE cust.Country = 'Brazil'
GROUP BY p.CategoryID
ORDER BY TotalPrice DESC
LIMIT 1;

8. Какая разница в стоимости между самым дорогим и самым дешевым заказом из США.

In [ ]:
SELECT (MAX(orderPrices.OrderPrice) - MIN(orderPrices.OrderPrice)) AS PriceDifference
FROM (
    SELECT o.OrderID, SUM(od.Quantity * p.Price) AS OrderPrice
    FROM Orders o
    JOIN OrderDetails od ON o.OrderID = od.OrderID
    JOIN Products p ON p.ProductID = od.ProductID
    JOIN Customers cust ON cust.CustomerID = o.CustomerID
    WHERE cust.Country = 'USA'
    GROUP BY o.OrderID
) orderPrices;

9. Выведите количество заказов у каждого их трех самых молодых сотрудников, а также имя и фамилию во второй колонке.

In [ ]:
SELECT COUNT(*) AS OrdersCount, (e.FirstName || ' ' || e.LastName) AS FullName
FROM Orders o
JOIN Employees e ON o.EmployeeID = e.EmployeeID
GROUP BY e.EmployeeID, FullName
ORDER BY e.BirthDate DESC
LIMIT 3;

10. Сколько банок крабового мяса всего было заказано.

In [ ]:
SELECT SUM(od.Quantity) AS TotalCrabMeatQuantity
FROM Orders o
JOIN OrderDetails od ON o.OrderID = od.OrderID
JOIN Products p ON od.ProductID = p.ProductID
WHERE p.ProductName = 'Boston Crab Meat';